<h2>➕ Add New User</h2>
<form method="post">
  <label>Username:</label><br>
  <input type="text" name="username" required><br><br>

  <label>Password:</label><br>
  <input type="password" name="password" required><br><br>

  <label>First Name:</label><br>
  <input type="text" name="firstname"><br><br>

  <label>Last Name:</label><br>
  <input type="text" name="lastname"><br><br>

  <label>User Type:</label><br>
  <select name="usertype">
    <option value="user">User</option>
    <option value="admin">Admin</option>
  </select><br><br>

  <button type="submit">Add User</button>
</form>
